// Logo
$logoGreen: #01a1b9;
$logoBlue: #bce5fb;
// Primary
$green: #00818f;
$red: #C6500E;
$blue: #004d8b;
$blueTwo: #0a7aca;
$white: #FFFFFF;
$black: #1D1C1C;
//Secondary
$gray: #707070;
$secondaryBlue: #CEDDE7;
$grayBg: #F1F1F1;
$orange: #C6500E;
$yellow: #ECBB3D;
//Tertiary
$tertiaryOrange: #F98341;
$tertiaryLavender: #B1A8DE;
$tertiaryAqua: #80C7D0;
// Forms
$error: #C11B0F;
$validated: #1B5B35;
$disabled: #A19F9F;
$disabledText: #D5D5D5;
